In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_excel('C:/Users/hp/Downloads/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_Train.xlsx')
test=pd.read_excel('C:/Users/hp/Downloads/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Data_Test.xlsx')
sample=pd.read_excel('C:/Users/hp/Downloads/Food_QUalityA_ParticipantsData/Food_QUalityA_ParticipantsData/Sample_Submission.xlsx')

In [3]:
train.head()

,ID,Date,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc,Inspection_Results
0,31103489027986,26-04-2010,4744,8123,7715,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406,4
1,10088999935915,21-06-2009,2973,12268,11664,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878,4
2,40148966010272,01-05-2013,18223,1112,969,RESTAURANT,14988,id-11235901,id_1890134,81883.0,CANVASS,NaN,High,locid3368,6
3,37157708563676,28-09-2015,20825,20007,19115,RESTAURANT,3661,id-11235901,id_1890134,81859.0,CANVASS RE-INSPECTION,31.0,Medium,locid11839,4
4,47478049564374,09-12-2015,2136,16867,10409,RESTAURANT,7876,id-11235901,id_1890134,81886.0,COMPLAINT,30.0,High,locid12264,4

In [4]:
test.head()

,ID,Date,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,47571900570810,19-03-2014,34218,2354,2185,GROCERY STORE,17352,id-11235901,id_1890134,81864.0,CANVASS,19.0,Low,locid1145
1,19685766253655,22-11-2010,24597,13183,12516,SCHOOL,15536,id-11235901,id_1890134,81871.0,CANVASS,32.0,High,locid16450
2,37885701847801,09-06-2014,1779,26434,25220,RESTAURANT,8849,id-11235901,id_1890134,81902.0,CANVASS,NaN,High,locid12916
3,39946284936679,07-04-2010,8541,16246,16384,SCHOOL,11663,id-11235901,id_1890134,81869.0,CANVASS,NaN,High,locid7292
4,46793577796409,25-07-2010,35194,20114,19225,RESTAURANT,16286,id-11235901,id_1890134,81874.0,CANVASS RE-INSPECTION,32.0,High,locid2048

In [5]:
sample.head()

,FACILITY CHANGED,FAIL,FURTHER INSPECTION REQUIRED,INSPECTION OVERRULED,PASS,PASS(CONDITIONAL),SHUT-DOWN
0,0.1,0.1,0.1,0.1,0.1,0.1,0.1
1,0.1,0.1,0.1,0.1,0.1,0.1,0.1
2,0.1,0.1,0.1,0.1,0.1,0.1,0.1
3,0.1,0.1,0.1,0.1,0.1,0.1,0.1
4,0.1,0.1,0.1,0.1,0.1,0.1,0.1

In [7]:
train.dtypes

ID                      int64
Date                   object
LicenseNo               int64
FacilityID              int64
FacilityName            int64
Type                   object
Street                  int64
City                   object
State                  object
LocationID            float64
Reason                 object
SectionViolations     float64
RiskLevel              object
Geo_Loc                object
Inspection_Results      int64
dtype: object

In [8]:
train['Inspection_Results'].value_counts()

4    79453
1    28456
5    20631
6    12691
3     4747
2     1420
0       45
Name: Inspection_Results, dtype: int64

In [9]:
train.shape, test.shape

((147443, 15), (49148, 14))

In [10]:
target=train.Inspection_Results.values
target

array([4, 4, 6, ..., 6, 5, 4], dtype=int64)

In [18]:
train.drop('Inspection_Results',axis=1,inplace=True)

In [19]:
df=pd.concat([train,test],axis=0)

In [20]:
df.head()

,ID,Date,LicenseNo,FacilityID,FacilityName,Type,Street,City,State,LocationID,Reason,SectionViolations,RiskLevel,Geo_Loc
0,31103489027986,26-04-2010,4744,8123,7715,RESTAURANT,15522,id-11235901,id_1890134,81876.0,CANVASS,33.0,High,locid16406
1,10088999935915,21-06-2009,2973,12268,11664,GROCERY STORE,3057,id-11235901,id_1890134,81862.0,COMPLAINT,33.0,High,locid878
2,40148966010272,01-05-2013,18223,1112,969,RESTAURANT,14988,id-11235901,id_1890134,81883.0,CANVASS,NaN,High,locid3368
3,37157708563676,28-09-2015,20825,20007,19115,RESTAURANT,3661,id-11235901,id_1890134,81859.0,CANVASS RE-INSPECTION,31.0,Medium,locid11839
4,47478049564374,09-12-2015,2136,16867,10409,RESTAURANT,7876,id-11235901,id_1890134,81886.0,COMPLAINT,30.0,High,locid12264

In [21]:
df.isnull().sum()

ID                       0
Date                     0
LicenseNo                0
FacilityID               0
FacilityName             0
Type                  4700
Street                   0
City                     0
State                    0
LocationID              50
Reason                   0
SectionViolations    52044
RiskLevel                0
Geo_Loc                  0
dtype: int64

In [30]:
df['LocationID']=df['LocationID'].fillna(df['LocationID'].mean())
df['SectionViolations']=df['SectionViolations'].fillna(df['SectionViolations'].mean())
df['Type']=df['Type'].fillna(df['Type'].mode()[0])

KeyError: 'LocationID'

In [23]:
df.columns

Index(['ID', 'Date', 'LicenseNo', 'FacilityID', 'FacilityName', 'Type',
       'Street', 'City', 'State', 'LocationID', 'Reason', 'SectionViolations',
       'RiskLevel', 'Geo_Loc'],
      dtype='object')

In [24]:
df=df.drop(['ID', 'Date', 'LicenseNo', 'FacilityID', 'Type',
        'City', 'State', 'LocationID', 'Geo_Loc'],axis=1)

In [33]:
df.shape

(196591, 5)

In [28]:
df['Reason'] = df['Reason'].str.replace('\d+','')
df['Reason'] = df['Reason'].str.lower()
df['Reason'] = df['Reason'].str.replace('\s+', ' ')
df['Reason'] = df['Reason'].str.replace('\'', '')
df['Reason'] = df['Reason'].str.replace(r'[^A-Za-z0-9]+', ' ')
df['Reason'] = df['Reason'].str.strip()

In [31]:
df['SectionViolations'] = df['SectionViolations'].astype(object)

In [35]:
df2=pd.get_dummies(df,drop_first=True)

In [36]:
df2.shape

(196591, 83)

In [37]:
x_train=df2.iloc[:147443,:]
x_test=df2.iloc[147433:,:]

In [38]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [39]:
from sklearn.model_selection import train_test_split
x_train, x_cv, y_train, y_cv = train_test_split(x_train, target, test_size=0.30, stratify=target, 
                                                random_state=1)

In [40]:
from collections import Counter
print('Original dataset shape %s' % Counter(y_train))
print('Original dataset shape %s' % Counter(y_cv))

Original dataset shape Counter({4: 55617, 1: 19919, 5: 14442, 6: 8884, 3: 3323, 2: 994, 0: 31})
Original dataset shape Counter({4: 23836, 1: 8537, 5: 6189, 6: 3807, 3: 1424, 2: 426, 0: 14})

In [41]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler()
X_ros, y_ros = ros.fit_sample(x_train, y_train)
print('Original dataset shape %s' % Counter(y_ros))

Using TensorFlow backend.

Original dataset shape Counter({4: 55617, 1: 55617, 5: 55617, 6: 55617, 3: 55617, 2: 55617, 0: 55617})

In [50]:
from sklearn.linear_model import LogisticRegression
lc=LogisticRegression()
lc.fit(X_ros,y_ros)
lc_pred=lc.predict(x_cv)
lc.score(X_ros,y_ros)
lc_test_pred=lc.predict(x_test)

C:\Users\hp\Anaconda3\3.7\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [48]:
from sklearn.metrics import accuracy_score, f1_score

print('f1_score       :', f1_score(y_cv, lc_pred, average='micro'))
#print('Train accuracy score :', accuracy_score(y_train,lc_pred))
print('Test accuracy score :', accuracy_score(y_cv, lc_pred))

f1_score       : 0.7829448601722696
Test accuracy score : 0.7829448601722696

In [60]:
preds = pd.DataFrame(lc_test_pred)

In [61]:
preds=preds.astype('object')

In [62]:
preds=preds.replace({0 : 'FACILITY CHANGED', 1 : 'FAIL', 2 : 'FURTHER INSPECTION REQUIRED', 3 : 'INSPECTION OVERRULED',
                                4 : 'PASS', 5: 'PASS(CONDITIONAL)', 6: 'SHUT-DOWN'})

In [64]:
preds.head()

                             0
0  FURTHER INSPECTION REQUIRED
1                         PASS
2                         PASS
3                         PASS
4            PASS(CONDITIONAL)

In [65]:
preds=pd.get_dummies(preds)

In [66]:
preds.head()

,0_FACILITY CHANGED,0_FAIL,0_FURTHER INSPECTION REQUIRED,0_INSPECTION OVERRULED,0_PASS,0_PASS(CONDITIONAL),0_SHUT-DOWN
0,0,0,1,0,0,0,0
1,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0
4,0,0,0,0,0,1,0

In [69]:
preds.to_excel("FoodAssessmen.xlsx", index = False)

In [52]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_ros,y_ros)
rf_pred=rf.predict(x_cv)
rf.score(X_ros,y_ros)

0.9785272952937746

In [53]:
sample = pd.DataFrame()
sample['Predictions'] = rf.predict(x_test)
sample['Predictions'] = sample['Predictions'].astype(object)
sample = sample.replace({'Predictions' : { 0 : 'FACILITY CHANGED', 1 : 'FAIL', 2 : 'FURTHER INSPECTION REQUIRED', 3 : 'INSPECTION OVERRULED',
                                4 : 'PASS', 5: 'PASS(CONDITIONAL)', 6: 'SHUT-DOWN'}})
sample = pd.get_dummies(sample)

In [54]:
sample.head()

,Predictions_FACILITY CHANGED,Predictions_FAIL,Predictions_FURTHER INSPECTION REQUIRED,Predictions_INSPECTION OVERRULED,Predictions_PASS,Predictions_PASS(CONDITIONAL),Predictions_SHUT-DOWN
0,0,0,0,0,1,0,0
1,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0

In [159]:
sample.to_excel("FoodAssessment.xlsx", index = False)

In [56]:
sample.to_excel('C:/Users/hp/Downloads/Food_QUalityA_ParticipantsData/sample.xlsx',index=False)

In [57]:
sample.shape

(49158, 7)